<html>
<head>
<title> {{blog_post.title}}</title>
</head>
<body>
<h1>{{ blog_post.title }}</h1>

<p>{{ blog_post.post_content }}</p>

<br>

<p>{{ blog_post.published }}</p>

{% for comment in blog_post.comment_set.all %}
<h2> {{comment.comment_name}} </h2>
<h2> {{comment.comment_body}} </h2>
<h2> {{comment.published}} </h2>
{%endfor%}

<h1>{{ question.question_text }}</h1>

<form action="{% url 'blog:comment' blog_post.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" id="name" />
    <input type="text" name="body" id="body" />
    <input type="submit" value="Comment">
</form>
</body>
</html>
